<div class="container padded">
  <div class="row">
    <h1>Candidates <%= link_to "ADD", new_candidate_path, class: "btn btn-primary"%></h1>
    <% @candidates.each do |candidate| %>
    <h5><%= candidate.firstname %> <%= candidate.lastname %></h5>
    <%end%>
    <h1>Proofs</h1>
    <h1>Dossiers</h1>
    <%= link_to "GO TO 1ST STEP", steps_init_path %>
    <%= render 'steps/init' %>
  </div>
</div>
